<section class="section tour-dates">
  <h1 class="tour-dates__title">TOUR DATES</h1>
  <table class="tour-dates__table">
    <thead class="tour-dates--row tour-dates__table--head">
      <td>Date</td>
      <td>City</td>
      <td>Venue</td>
      <td>Country</td>
      <td class="tour-dates__bands">Bands</td>
      <td>Event</td>
      <td>Tickets</td>
    </thead>
    <tr class="tour-dates--row tour-dates__table--body">
      <td>24/07/1993</td>
      <td>Donostia</td>
      <td>Mogambo</td>
      <td>ESP</td>
      <td class="tour-dates__bands">Deftones / Berri Txarrak</td>
      <td>
        <a class="tour-dates--link" href="" target="_blank">
          <div class="tour-dates--button">Go</div>
        </a>
      </td>
      <td class="tour-dates__button tour-dates__button--tickets">
        <a class="tour-dates--link" href="" target="_blank">
          <div class="tour-dates--button">Buy</div>
        </a>
      </td>
    </tr>
    <tr class="tour-dates--row tour-dates__table--body">
      <td>24/07/1993</td>
      <td>Donostia</td>
      <td>Mogambo</td>
      <td>ESP</td>
      <td class="tour-dates__bands">Deftones / Berri Txarrak</td>
      <td class="tour-dates__event">*Not available</td>
      <td class="tour-dates__tickets">*Not available</td>
    </tr>
  </table>
</section>