@font-face{
  font-family: 'Arimo Regular';
  font-style: normal;
  src: url('../typography/Arimo-Regular.ttf');
}

@font-face{
  font-family: 'Montserrat Bold';
  font-style: normal;
  src: url('../typography/Montserrat-Bold.ttf');
}

@font-face{
  font-family: 'Another Danger';
  font-style: normal;
  src: url('../typography/Another-Danger.ttf');
}

@font-face{
  font-family: 'Earth Orbiter';
  font-style: normal;
  src: url('../typography/earthorbiter.ttf');
}

@font-face{
  font-family: 'Bebas Neue';
  font-style: normal;
  src: url('../typography/BebasNeue-Regular.ttf');
}


$font-family-first: 'Montserrat Bold', sans-serif;
$font-family-second: 'Arimo Regular', sans-serif;
$font-family-third: 'Another Danger', sans-serif;
$font-family-fourth: 'Earth Orbiter', sans-serif;
$font-family-fifth: 'Bebas Neue', sans-serif;